.title {
  width: 352px;
  height: 120px;
  padding-left: 30px;
  top: 128px;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.6px;
  color: #ffffff;
}

li {
  top: 280px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.options {
  background-image: url("../../img/images/Base.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-container {
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.list-counter {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  padding-left: 30px;
}

.list-container {
  padding-top: 40px;
}

@media (max-width: 400px) {
  .list-container {
    padding-top: 40px;
    display: none !important;
  }
}

@media (min-width: 401px) {
  .lis-first-option {
    display: none !important;
    margin-bottom: 45px !important;
  }
}

ul li {
  list-style-type: none;
  margin-bottom: 4px;
}

.list-image {
  margin-bottom: 2px;
  margin-right: 5px;
  color: red;
}

.list-image-specific {
  margin-bottom: 2px;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.row.row-container {
  height: 600px;
  width: 100%;
}

.footer-container {
  color: #ffffff;
  margin-top: 100px;
}

.footer-label {
  color: #ffffff;
  margin-top: 25px;
  margin-left: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}

.image-frame {
  margin-top: 70px;
  height: 120px;
  width: auto;
  position: absolute;
  padding-left: 500px;
  z-index: 80;
}

.image-plant {
  margin-top: 300px;
  height: 120px;
  width: auto;
  position: absolute;
  padding-left: 480px;
  z-index: 80;
}

.image-left {
  margin-top: 80px;
  height: 400px;
  width: auto;
  position: absolute;
  padding-left: 500px;
  z-index: 80;
}

.image-center {
  margin-top: 270px;
  height: 230px;
  width: auto;
  position: absolute;
  padding-left: 600px;
  z-index: 100;
}

.image-right {
  margin-top: 100px;
  height: 380px;
  width: auto;
  position: absolute;

  padding-left: 635px;
  z-index: 0;
}

.image-shadow {
  margin-top: 440px;
  height: 48px;
  width: auto;
  position: absolute;
  padding-left: 510px;
  z-index: 5;
}

.image-shadow2 {
  margin-top: 480px;
  height: 30px;
  width: auto;
  position: absolute;
  padding-left: 590px;
  z-index: 6;
}

@media (max-width: 1199px) {
  .image-left {
    padding-left: 250px;
    margin-top: 45px;
    height: 250px;
  }
  .image-center {
    padding-left: 315px;

    margin-top: 155px;
    height: 150px;
  }
  .image-right {
    padding-left: 335px;

    margin-top: 70px;
    height: 225px;
  }
  .image-shadow {
    margin-top: 265px;
    height: 35px;
    width: auto;
    position: absolute;
    padding-left: 250px;
    z-index: 5;
  }

  .image-shadow2 {
    margin-top: 295px;
    height: 24px;
    width: auto;
    position: absolute;
    padding-left: 310px;
    z-index: 6;
  }

  .image-frame {
    margin-top: 40px;
    height: 80px;
    width: auto;
    position: absolute;
    padding-left: 250px;
    z-index: 80;
  }

  .image-plant {
    margin-top: 180px;
    height: 80px;
    width: auto;
    position: absolute;
    padding-left: 230px;
    z-index: 80;
  }
}

@media (max-width: 400px) {
  .image-left {
    padding-left: 250px;
    margin-top: 45px;
    height: 150px;
  }
  .image-center {
    padding-left: 290px;

    margin-top: 110px;
    height: 90px;
  }
  .image-right {
    padding-left: 300px;

    margin-top: 60px;
    height: 130px;
  }

  .image-shadow {
    margin-top: 175px;
    height: 25px;
    width: auto;
    position: absolute;
    padding-left: 250px;
    z-index: 5;
  }

  .image-shadow2 {
    margin-top: 190px;
    height: 20px;
    width: auto;
    position: absolute;
    padding-left: 280px;
    z-index: 6;
  }

  .image-frame {
    margin-top: 20px;
    height: 80px;
    width: auto;
    position: absolute;
    padding-left: 220px;
    z-index: 80;
  }

  .image-plant {
    margin-top: 120px;
    height: 60px;
    width: auto;
    position: absolute;
    padding-left: 230px;
    z-index: 80;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 100% !important;
    padding: 0 !important;
  }
}

@media (min-width: 1199px) {
  .container {
    max-width: 100% !important;
    padding: 0 !important;
  }
}

//Formulario

.formulary-header {
  margin-top: 40px;
  margin-bottom: 30px;
}

.formulary-container {
  padding: 40px;
  width: 100%;
}

@media (max-width: 500px) {
  .formulary-container {
    margin-top: -180px;
    margin-left: 12px;
  }
  .formulary-bottom {
    width: 100%;
  }
}

.formulary-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;

  letter-spacing: -0.2px;
}

.formulary-title-part {
  color: #ef3340;
}

.formulary-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.formulary-input-large {
  height: calc(3.5rem + 2px);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #ef3340 !important;
  border-color: #ef3340 !important;
}

.fa-user-circle-o {
  color: gray;
}

.form-floating {
  display: flex !important;
  margin-bottom: 17px !important;
}

.formulary-calendar {
  margin-top: 15px;
  margin-left: -20px;
}

.form-check-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;

  letter-spacing: 0.2px;
}

.formulary-check-container {
  margin-bottom: 30px !important;
}

.form-check-input:checked {
  background-color: #83cc5e !important;
  background-color: #83cc5e !important;
  border-color: #83cc5e !important ;
}
